<div class="card mb-3 text-white bg-secondary ">
    <div class="card-header">Crane Details</div>
    <div class="card-body" id="crane-details">
        PS Kran <br>
        Wörth am Rhein <br><br>
        <span id="crane-details-container">Container: </span><br><br>
        {% if crane.number != "" %}
            <button
                    data-stack-name="{{ stack }}"
                    type="button"
                    class="btn btn-small btn-primary disabled"
                    style="font-size: 12px; width: 100%;">
            {{ crane.number }}
            </button>
        {% else %}
            <button type="button" class="btn btn-small btn-secondary disabled" style="font-size: 12px; width: 100%;">
            &ensp;
            </button>
        {% endif %}
    </div>
</div>


