    {% set ns = namespace(found=false, container="") %}
    {% for item in container %}
            {% for s in stacks %}
                    {% if s.name == stack %}
                        {% if s.container|length > 1 %}
                                    {% if s.container[0].number == item.number %}
                                        {% set ns.container= item.number%}
                                    {% endif %}
                        {% endif %}
                    {% endif %}
            {% endfor %}
    {% endfor %}
    {% if ns.container != "" %}
        <button data-stack-name="{{ stack }}" 
                data-stack-layer="1" 
                type="button" 
                class="drop-container btn btn-small btn-primary" 
                style="font-size: 12px; width: 100%;">
        {{ ns.container }}
        </button>
    {% else %}        
        <button type="button" class="drop-container btn btn-small btn-secondary disabled" style="font-size: 12px; width: 100%;">
        &ensp;
        </button>
    {% endif %}
<br><br>
    {% set ns = namespace(found=false, container="") %}
    {% for item in container %}
            {% for s in stacks %}
                    {% if s.name == stack %}
                        {% if s.container|length > 0 %}
                                    {% if s.container[0].number == item.number %}
                                        {% set ns.container= item.number%}
                                    {% endif %}
                        {% endif %}
                    {% endif %}
            {% endfor %}
    {% endfor %}
    {% if ns.container != "" %}
        <button 
                data-stack-name="{{ stack }}"
                data-stack-layer="0" 
                type="button" 
                class="drop-container btn btn-small btn-primary" 
                style="font-size: 12px; width: 100%;">
        {{ ns.container }}
        </button>
    {% else %}        
        <button type="button" class="drop-container btn btn-small btn-secondary disabled" style="font-size: 12px; width: 100%;">
        &ensp;
        </button>
    {% endif %}
