<tr>
    <td></td>
    <td>A</td>
    <td></td>
    <td>B</td>
    <td></td>
    <td>C</td>
    <td></td>
    <td>D</td>
</tr>

<!-- 
background-color: #0e90d2;
background-color: #0c4128; 
background-color: #0a53be
-->
<tr class="table-dark">
    <td>1</td>
    <td id="A1" style="background-color: #0c4128; width: 20%">
        {% with stack="A1" %}
            {% include partial %}
        {% endwith %}
    </td>
    <td style="width: 2%" ></td>
    <td id="B1" style="background-color: #0c4128; width: 20%">
        {% with stack="B1" %}
            {% include partial %}
        {% endwith %}
    </td>
    <td style="width: 5%"></td>
    <td style="width: 20%"></td>
    <td style="width: 2%" ></td>
    <td style="width: 20%"></td>
</tr>

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>2</td>
    <td id="A2" style="background-color: #0c4128;">
        
        {% with stack="A2" %}
            {% include partial %}
        {% endwith %}
    </td>
    <td></td>
    <td id="B2" style="background-color: #0c4128;">
        
        {% with stack="B2" %}
            {% include partial %}
        {% endwith %}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr style="height: 50px">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="C3" style="background-color: #0c4128;">
        
        {% with stack="C3" %}
            {% include partial %}
        {% endwith %}
    </td>
    <td></td>
    <td id="D3" style="background-color: #0c4128;">
        
        {% with stack="D3" %}
            {% include partial %}
        {% endwith %}
    </td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="C4" style="background-color: #0c4128;">
        
        {% with stack="C4" %}
            {% include partial %}
        {% endwith %}
    </td>
    <td></td>
    <td id="D4" style="background-color: #0c4128;">
        {% with stack="D4" %}
            {% include partial %}
        {% endwith %}
    </td>
</tr>