<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        TAMS
    </title>
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/dashboard.css" rel="stylesheet"/>
    <link id="bootstrap" href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body class="g-sidenav-show bg-dark">
<div class="container mt-3">
    <div class="row" style="min-height: 100%; height: 100%;">
        <div class="col-2">
            <div class="card mb-3 text-white bg-secondary">
                <div class="card-body">
                    <img src="../assets/img/logo.png" class="img-rounded img-fluid" alt="main_logo">
                </div>
            </div>
            <div class="card mb-3 text-white bg-secondary">
                <div class="card-header">
                    modus
                </div>
                <div class="card-body">
                        <div class="form-check form-switch">
                            <input id="checkbox_modus_pos" class="form-check-input checkbox_modus" type="checkbox">
                            <label class="form-check-label">SET POS</label>
                        </div>
                        <div class="form-check form-switch">
                            <input id="checkbox_modus_init" class="form-check-input checkbox_modus" type="checkbox">
                            <label class="form-check-label">INIT</label>
                        </div>
                        <div class="form-check form-switch">
                            <input id="checkbox_modus_drop" class="form-check-input checkbox_modus" type="checkbox">
                            <label class="form-check-label">DROP</label>
                        </div>                        
                        <div class="form-check form-switch">
                            <input id="checkbox_modus_auto" class="form-check-input checkbox_modus checked" type="checkbox">
                            <label class="form-check-label">AUTO</label>
                        </div>
                </div>
            </div> 
            <div id="job_formular"></div>

            <div class="card mb-3 text-white bg-secondary">
                {% include "partial_crane_status.html" %}
            </div>
        </div>

        <div class="position-relative col-10">
            <!-- End Navbar -->
            <div class="row ">
                <div class="col-9">
                    {% include "partial_stacks.html" %}
                    <div id="auto_job"></div>
                    <div id="job_list"></div>
                    
                    <div class="card mb-3 text-white bg-secondary" style="height: 370px">
                        <div class="card-header">Console</div>
                        <div style="height: 100%; 
                        font-family: 'Lucida Console', 'Courier New', monospace;
                        background: #2c3034;
                        font-size: small;
                        " class="card-body overflow-auto" id="messages-console">

                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div id="job_status"></div>
                    <div id="crane_status"></div>
                    

                </div>
                {% block content %}{% endblock %}
                {% include "partial_footer.html" %}
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery-3.6.0.min.js"></script>
<script src="../assets/js/index.js"></script>
</body>

</html>
