<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        TAMS
    </title>
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/dashboard.css" rel="stylesheet"/>
    <link id="bootstrap" href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body class="g-sidenav-show bg-dark">
<div class="container mt-3">
    <div class="row" style="min-height: 100%; height: 100%;">
        <div class="col-2">
            <div class="card mb-3 text-white bg-secondary">
                <div class="card-body">
                    <img src="../assets/img/logo.png" class="img-rounded img-fluid" alt="main_logo">
                </div>
            </div>
            <div class="card mb-3 text-white bg-secondary">
                <div class="card-header">
                    modus
                </div>
                <div class="card-body">
                        <div class="form-check form-switch">
                            <input class="form-check-input not-clickable" type="checkbox">
                            <label class="form-check-label">INIT</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input not-clickable" type="checkbox">
                            <label class="form-check-label">MANUAL</label>
                        </div>                        
                        <div class="form-check form-switch">
                            <input class="form-check-input not-clickable checked" type="checkbox">
                            <label class="form-check-label">AUTO</label>
                        </div>
                </div>
            </div> 
            <div class="card mb-3 text-white bg-secondary">
                {% include "partial_job.html" %}
            </div> 
            <div class="card mb-3 text-white bg-secondary">
                {% include "partial_crane_status.html" %}
            </div>
        </div>

        <div class="position-relative col-10">
            <!-- End Navbar -->
            <div class="row ">
                <div class="col-8">
                    {% include "partial_stacks.html" %}
                    {% include "partial_job_list.html" %}
                    <div class="card mb-3 text-white bg-secondary" style="height: 370px">
                        <div class="card-header">Console</div>
                        <div style="height: 100%; 
                        font-family: 'Lucida Console', 'Courier New', monospace;
                        background: #2c3034;
                        font-size: small;
                        " class="card-body overflow-auto" id="messages-console">

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3 text-white bg-secondary ">
                        <div class="card-header">Running Job</div>
                        <div class="card-body" id="running-job">
                            no running job
                        </div>
                        <div class="card-body">
                            <button id="cancel-job" type="button" class="btn btn-danger">force job done</button>
                        </div>
                        
                    </div>
                    <div class="card mb-3 text-white bg-secondary ">
                        <div class="card-header">Crane Details</div>
                        <div class="card-body" id="crane-details">
                            PS Kran <br>
                            Wörth am Rhein <br><br>
                            <span id="crane-details-container">Container: </span><br><br>
                            Features:
                            <ul id="feature-list">
                                <li>alala</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-3 text-white bg-secondary ">
                        <div class="card-header">Crane Position</div>
                        <div class="card-body">
                            <table class="table table-dark">
                                <tbody>
                                <tr>
                                    <td>Crane (x)</td>
                                    <td>Katz (y)</td>
                                    <td>Spreader (z)</td>
                                </tr>
                                <tr>
                                    <td id="crane_position"></td>
                                    <td id="katz_position"></td>
                                    <td id="spreader_position"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
                {% include "partial_footer.html" %}
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery-3.6.0.min.js"></script>
<script src="../assets/js/index.js"></script>
</body>

</html>
