<div class="card-header">
    job
</div>
<div class="card-body">
    <form>
        <div class="form-group mb-3">
            <label for="FormTypeSelect">Type</label>
            <select class="form-control" id="FormTypeSelect">
                <option id="type-select-move">move</option>
                <option id="type-select-pick">pick</option>
                <option id="type-select-drop">drop</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="FormTargetSelect">x</label>
            <input type="text" class="form-control" id="FormTargetX">
            </input>
        </div>
        <div class="form-group mb-3">
            <label for="FormTargetSelect">Y</label>
            <input type="text" class="form-control" id="FormTargetY">
            </input>
        </div>
        <div class="form-group mb-3">
            <label for="FormTargetSelect">Z</label>
            <input type="text" class="form-control" id="FormTargetZ">
            </input>
        </div>
        <div class="form-group mb-3">
            <label for="FormTargetSelect">Target</label>
            <select class="form-control" id="FormTargetSelect">
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="FormUnitSelect">Unit</label>
            <select class="form-control" id="FormUnitSelect">
            </select>
        </div>
        <!--<div class="form-check form-switch">
            <input class="form-check-input not-clickable" type="checkbox" id="send-jobs">
            <label class="form-check-label" for="send-jobs">send jobs</label>
        </div>-->
        <div style="margin-top:10px"></div>
        <div class="form-group">
            <button id="send-job" type="button" class="btn btn-primary">add Job</button>
        </div>
    </form>
</div>