            <footer class="footer py-4  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-12">
                            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                <li class="nav-item">
                                    <a href="https://www.synyx.de" class="nav-link text-muted" rel="noopener"
                                       target="_blank">Synyx</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.contargo.de" class="nav-link text-muted" rel="noopener"
                                       target="_blank">Contargo</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.iml.fraunhofer.de/" class="nav-link text-muted" rel="noopener"
                                       target="_blank">Fraunhofer IML</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>