<div class="card-header">
    crane status
</div>
<div class="card-body">
    <div class="form-check form-switch">
        <input class="form-check-input not-clickable" type="checkbox" id="crane-status-power">
        <label class="form-check-label" for="crane-status-power">power</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input not-clickable" type="checkbox" id="crane-status-manual">
        <label class="form-check-label" for="crane-status-manual">manual</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input not-clickable" type="checkbox" id="crane-status-automatic">
        <label class="form-check-label" for="crane-status-automatic">automatic</label>
    </div>   
    <div class="form-check form-switch">
        <input class="form-check-input not-clickable" type="checkbox" id="job-cancel-status">
        <label class="form-check-label" for="job-cancel-status">cancel</label>
    </div>   
</div>
<div class="card-header">
    SAND
</div>
<div class="card-body">
    <div class="form-check form-switch">
        <input class="form-check-input not-clickable" type="checkbox" id="fusion-status">
        <label class="form-check-label" for="fusion-status">fusion</label>
    </div>
</div>

<!--<div class="card-header">
    DEBUG
</div>
<div class="card-body">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" >debug modus</label>
    </div>
</div>
-->